DATABASE_URL="postgresql://fortbeer:fortbeer_change_me@db:5432/fortbeer?schema=public"
REDIS_URL="redis://redis:6379"
PORT=4000
# Use http://SEU_IP se ainda não tiver domínio
CORS_ORIGIN="http://SEU_IP_OU_DOMINIO"

JWT_ACCESS_SECRET="troque-pelo-openssl-rand-hex-32"
JWT_REFRESH_SECRET="troque-pelo-outro-openssl-rand-hex-32"
JWT_ACCESS_TTL="15m"
JWT_REFRESH_DAYS="14"

STORAGE_DRIVER="local"
STORAGE_LOCAL_ROOT="/data/uploads"
NODE_ENV="production"

# Usado pelo compose (mesma senha do DATABASE_URL)
POSTGRES_PASSWORD="fortbeer_change_me"

# URL pública da API (entra no build do Next)
NEXT_PUBLIC_API_URL="http://SEU_IP_OU_DOMINIO/api"
